<%- messages() %>
<h1><%= title %></h1>

<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(function(error) { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<p><strong>Confirm Deletion - The delete is permanent.</strong></p>
<p>Are you sure you want to delete this vehicle? This action cannot be undone.</p>

<form action="/inventory/delete" method="post">
  <fieldset>
    <label for="inv_make">Make:</label>
    <input type="text" id="inv_make" name="inv_make" 
           value="<%= inv_make %>" readonly>
    
    <label for="inv_model">Model:</label>
    <input type="text" id="inv_model" name="inv_model" 
           value="<%= inv_model %>" readonly>
    
    <label for="inv_year">Year:</label>
    <input type="text" id="inv_year" name="inv_year" 
           value="<%= inv_year %>" readonly>
    
    <label for="inv_price">Price:</label>
    <input type="text" id="inv_price" name="inv_price" 
           value="$<%= new Intl.NumberFormat('en-US').format(inv_price) %>" readonly>
    
    <input type="hidden" name="inv_id" value="<%= inv_id %>">
    
    <button type="submit" class="deleteBtn">Delete Vehicle</button>
  </fieldset>
</form>